@import "./variables.scss";

@mixin button {
  display: inline-block;
  padding: .33em 1em;
  text-decoration: none;
  background: $button-bg;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.33em;
  cursor: pointer;
  margin: 0 .5em;
  min-width: 10em;

  &:hover {
    background: $button-hover-bg;
  }
}

@mixin buttons {
  margin: 0;
  padding: 1em 0;
}

.description {
  color: #fff;
  font-size: 1.33em;
  flex: 0 0 100%;

  .timer {
    vertical-align: baseline;
    display: inline-block;
    width: 1.3em;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }
}
