.description {
  color: #fff;
  font-size: 1.33em;
  flex: 0 0 100%; }
  .description .timer {
    vertical-align: baseline;
    display: inline-block;
    width: 1.3em;
    text-align: center;
    font-size: 2em;
    font-weight: bold; }

.Puzzles {
  text-align: center;
  width: 75%; }
  .Puzzles .selector .select {
    margin: 0 .5em 1em; }
    .Puzzles .selector .select .image {
      margin: 0 auto;
      min-width: 200px;
      min-height: 200px; }
    .Puzzles .selector .select .label {
      text-align: left;
      font-weight: bold;
      font-size: 2em;
      text-shadow: 0 0 10px #000;
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      padding: 0 .25em; }
