@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

$select-image-height: 200px;
$select-image-width: 200px;

.Puzzles {
  text-align: center;
  width: 75%;

  .selector {
    .select {
      margin: 0 .5em 1em;

      .image {
        margin: 0 auto;
        min-width: $select-image-width;
        min-height: $select-image-height;
      }

      .label {
        text-align: left;
        font-weight: bold;
        font-size: 2em;
        text-shadow: 0 0 10px #000;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        padding: 0 .25em;
      }
    }
  }
}
