.description {
  color: #fff;
  font-size: 1.33em;
  flex: 0 0 100%; }
  .description .timer {
    vertical-align: baseline;
    display: inline-block;
    width: 1.3em;
    text-align: center;
    font-size: 2em;
    font-weight: bold; }

.blanket {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(19, 32, 46, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000; }
  .blanket .holder {
    align-self: center;
    position: relative; }
  .blanket .fieldset {
    width: 500px;
    background: #6c9bc9;
    padding: 2em; }
    .blanket .fieldset .email {
      width: 100%;
      font-size: 1.33em;
      padding: .5em .75em; }
  .blanket .buttons {
    padding: 1em 0; }
  .blanket .button {
    display: inline-block;
    padding: .33em 1em;
    text-decoration: none;
    background: #91b4d7;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.33em;
    cursor: pointer;
    margin: 0 .5em;
    min-width: 10em;
    background: #315b85; }
    .blanket .button:hover {
      background: #4782bb; }
    .blanket .button:hover {
      background: #4782bb; }
  .blanket .close {
    display: inline-block;
    background: transparent;
    border: none;
    margin: 0;
    width: 2em;
    height: 2em;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff; }
    .blanket .close:hover {
      background: rgba(255, 255, 255, 0.25); }
    .blanket .close:before {
      display: inline-block;
      content: '\00D7';
      text-indent: 0;
      font: 2em/1 serif; }
